
<!DOCTYPE html>
<app-header></app-header>

<html>
<head>
    <title>About Us - Bobcat C.L.A.W.S.</title>
    <link rel="stylesheet" type="text/css" href="about-us.component.css">
</head>
<body>

    <header class="header">
        <h1 class="page-title">About Us - Bobcat C.L.A.W.S.</h1>
        <h2 class="subtitle">Empowering Data Integration</h2>
    </header>

    <main>
        <section class="section">
            <h3 class="section-header">Our Project</h3>
            <p class="section-text">Bobcat C.L.A.W.S. represents a culmination of dedication and innovation in data integration. Over the past three months, our team has developed a working prototype designed to seamlessly gather and format product data for both front-end and back-end processes. Our project stands as a testament to our commitment to streamline data accessibility and usability, focusing on efficiency and precision.</p>
        </section>

        <section class="section">
            <h3 class="section-header">Our Technology</h3>
            <p class="section-text">At the core of Bobcat C.L.A.W.S. lies a robust database system, adept at storing and categorizing data across three main categories and sixteen subcategories. Our technology harnesses the power of APIs from major retailers like Walmart and Target, coupled with sophisticated web scraping techniques for Best Buy. This amalgamation ensures a comprehensive and diverse data pool, all while maintaining a user-friendly interface for efficient data handling</p>
        </section>

        <section class="section">
            <h3 class="section-header">Our Contributors</h3>
            <div class="contributors">
                <div class="team-member">
                    <h4 class="member-name">Jawad Abu-Gabal</h4>
                    <a class="github-link" href="https://git.txstate.edu/Dga52" target="_blank">https://git.txstate.edu/Dga52</a>
                </div>
                <div class="team-member">
                    <h4 class="member-name">Kevin Garcia</h4>
                    <a class="github-link" href="https://github.com/KevinGL503" target="_blank">https://github.com/KevinGL503</a>
                </div>
                <div class="team-member">
                    <h4 class="member-name">Garrett DiPalma</h4>
                    <a class="github-link" href="https://github.com/garrett10101" target="_blank">https://github.com/garrett10101</a>
                </div>
                <div class="team-member">
                    <h4 class="member-name">Abigail Derousselle</h4>
                    <a class="github-link" href="https://github.com/amd342" target="_blank">https://github.com/amd342</a>
                </div>
                <div class="team-member">
                    <h4 class="member-name">Dillon Hughes</h4>
                    <a class="github-link" href="https://github.com/DillonHughes23" target="_blank">https://github.com/DillonHughes23</a>
                </div>
                <div class="team-member">
                    <h4 class="member-name">Jess Stevenson</h4>
                    <a class="github-link" href="https://github.com/Beefman64" target="_blank">https://github.com/Beefman64</a>
                </div>
                <div class="team-member">
                    <h4 class="member-name">Dustin Bruce</h4>
                    <a class="github-link" href="https://git.txstate.edu/dbb47" target="_blank">https://git.txstate.edu/dbb47</a>
                </div>
                <div class="team-member">
                    <h4 class="member-name">Rayyan Khan</h4>
                    <a class="github-link" href="https://github.com/raykhan67" target="_blank">https://github.com/raykhan67</a>
                </div>
                <div class="team-member">
                    <h4 class="member-name">Rebekah Hardsand</h4>
                    <a class="github-link" href="https://git.txstate.edu/rkh59" target="_blank">https://git.txstate.edu/rkh59</a>
                </div>
                <div class="professor">
                    <strong class="professor-title">Professor:</strong> Dr. Randall S. Klepetko
                </div>
            </div>
        </section>

        <section class="section">
            <h3 class="section-header">Our Vision</h3>
            <p class="section-text">As we continue to refine Bobcat C.L.A.W.S., our focus remains on evolving our project to meet the ever-changing landscape of data management. Our journey has been one of constant learning and adaptation, ensuring that our final product not only aligns with our original vision but also exceeds expectations in functionality and innovation.</p>
        </section>

        <section class="section">
            <h3 class="section-header">Connect With Us</h3>
            <p class="section-text">We are always eager to engage with our community. For inquiries, feedback, or just a friendly conversation about our project, feel free to reach out to us.</p>
        </section>
    </main>

    <footer class="footer">
        <!-- Footer content -->
    </footer>
</body>
</html>

